<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="es" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="es" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="es" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Untitled</title>
	<meta name="title" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<!-- Opciones para compartir en Facebook -->
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:type" content="">
	<meta property="og:url" content="">
	<meta property="og:image" content="">
	<meta property="og:image:secure_url" content="">
	<meta property="og:site_name" content="">
	
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css?v=1">
	
	<script>
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-XXXXXXX-X']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script src="js/vendor/modernizr-2.6.1.min.js"></script>
</head>
<body>
	<!-- Añadir código aquí -->
	<div class="page">

		<header class="cont_header">
			<div class="header">
			</div>								
		</header>

		<div class="menu">
			<div class="cont_menu">
				<ul class="menu_list">
					<li class="menu_items menu_items_1"> <a href="">Menu</a> </li>
					<li class="menu_items menu_items_2"> <a href="">Menu</a> </li>
					<li class="menu_items menu_items_3"> <a href="">Menu</a> </li>
					<li class="menu_items menu_items_4"> <a href="">Menu</a> </li>
					<li class="menu_items menu_items_5"> <a href="">Menu</a> </li>
				</ul>				
			</div>
		</div>
		<div class="page_contenido">
			<div class="banner">
			banner				
			</div>

			<div class="works clear_block">
				<div class="work">
					<div class="item">
						<img src="images/destacado.jpg" alt="">
						<h2>
							<a href="">	Take a tour of some of the best </a>
						
						</h2>
						<p>
							Take a tour of some of the best Android apps on Google Play.
							Take a tour of some of the best Android apps on Google Play.
							
						</p>						
					</div>
				</div>
				<div class="work">
					<div class="item">
						<img src="images/destacado.jpg" alt="">
						<h2>
							<a href="">	Take a tour of some of the best </a>
						
						</h2>
						<p>
							Take a tour of some of the best Android apps on Google Play.
							Take a tour of some of the best Android apps on Google Play.
							
						</p>						
					</div>
				</div>
				<div class="work">
					<div class="item">
						<img src="images/destacado.jpg" alt="">
						<h2>
							<a href="">	Take a tour of some of the best </a>
						
						</h2>
						<p>
							Take a tour of some of the best Android apps on Google Play.
							Take a tour of some of the best Android apps on Google Play.
							
						</p>						
					</div>
				</div>
				<div class="work">
					<div class="item">
						<img src="images/destacado.jpg" alt="">
						<h2>
							<a href="">	Take a tour of some of the best </a>
						
						</h2>
						<p>
							Take a tour of some of the best Android apps on Google Play.
							Take a tour of some of the best Android apps on Google Play.
							
						</p>						
					</div>
				</div>
				<div class="work">
					<div class="item">
						<img src="images/destacado.jpg" alt="">
						<h2>
							<a href="">	Take a tour of some of the best </a>
						
						</h2>
						<p>
							Take a tour of some of the best Android apps on Google Play.
							Take a tour of some of the best Android apps on Google Play.
							
						</p>						
					</div>
				</div>
				
	
				
			</div>

	
		</div>

		<div class="cont_pie_pagina">
			<div class="pie_pagina">
				Take a tour of some of the best Android apps on Google Play. 
			</div>
		</div>




	</div>
	
	
	
	<script src="js/vendor/jquery-1.8.1.min.js"></script>
	<script src="js/init.js?v=1"></script>
</body>
</html>
